<section class="pageHeading" style="margin-top:100px; margin-bottom:0px;background:url(./assets/support/lgpng.PNG);">
    <div class="row">
        <h3>Contact</h3>
		<p>Keep In Touch</p>
    </div>
</section><!-- End page Heading -->
<br><br>
<!-- advertisement -->
<section  class="removeMargin noBorder">
	<div class="row">
		<div class="large-12 columns">
					
				
					<div class="row">
				<div class="large-8 medium-8 columns">
					<!-- author Message -->
					<section class="authorMsg">
						<div class="authorHead">
                            <h4>Contact Form</h4>
                        </div>
						<div class="authorForm">
							<form #f2="ngForm" (ngSubmit)="send(f2.value)"  class="contactform">
								<div class="row">
									<div class="large-6 medium-6 columns">
										<div class="inner-addon left-addon">
											<i class="icon fa fa-user"></i>
											<input type="text" placeholder="Full name" name="fname" id="contactName" class="input-textarea half" required>
										</div>
									</div>
									<div class="large-6 medium-6 columns">
										<div class="inner-addon left-addon">
											<i class="icon fa fa-envelope"></i>
											<input type="text" placeholder="Your Email" name="email" id="email" class="input-textarea half" required>
										</div>
									</div>
									<div class="large-12 columns">
										<div class="inner-addon left-addon">
											<i class="icon fa fa-book"></i>
											<input type="text" placeholder="Subjest" name="subject" id="subject" class="input-textarea" required>
										</div>
									</div>
									<div class="large-12 columns">
										<div class="inner-addon left-addon">
											<textarea name="comments" id="commentsText" cols="8" rows="5" placeholder="Type Your Message here.."required></textarea>
										</div>
									</div>
								<div class="large-12 columns">
										<div class="inner-addon left-addon">
											<button class="button round btnfull input-submit" type="submit" value="submit" name="submitted">Send Message</button>											
										</div>
									</div>
								</div>
							</form>
						</div>
											</section><!-- End author Message -->
				</div><!-- End Contact Div -->
				<div class="large-4 medium-4 columns">
					<div class="authorHead">
                        <h4>Contact Info</h4>
                    </div>
					<div class="row">
                        <div class="large-12 columns">
                            <div class="contactText">
                                <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia.Phasellusaccumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor.</p>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="large-12 columns">
						                            <div class="row">
                                <div class="textContent clearfix">
                                        <h4>Office Address</h4>
                                        <p>Our business address is 1063 Freelon Street San Francisco, CA 95108</p>
                                </div>
                            </div>
												    <div class="row">
                                <div class="textContent clearfix">
  
                                        <h4>Email</h4>
                                        <p>support@joinwebs.com</p>                                        
                                </div>
                            </div>
												    <div class="row">
                                <div class="textContent clearfix">
                                        <h4>Phone</h4>
                                        <p>021.343.7575</p> 
									                     	<p>021.343.7576</p>
                                </div>
                            </div>
							
                        </div><!--End Col-->						
					</div><!--End Row -->
				</div>
			</div>
		</div>
	</div>
</section>