
<div class="large-3 medium-6 columns end">
    <div class=" row">
    <div class="advItemv1" >
        <div class="adv-img">
                <div class="home-vsecond">
                <img src="{{item.img}}" width="130" style="max-height: 150px;" class="img-responsive pull-right" alt="Image">
                </div>
                <span class="img-hover"><a (click)="view()">View</a></span>
        </div><!-- End adv-img-->
        <div class="adv-Text">
            <h4><a href="">{{item.title}}</a></h4>
            <p class="clearfix">
                <span class="cat left">{{item.category}}</span>
                <span class="price right">{{item.price}}</span>
            </p>
        </div><!-- End advText-->
    </div><!-- End advItemv1-->
</div><!-- End row-->
</div><!-- End large-3 columns end-->
     

